.container {
  width: 100%;
  max-width: 1040px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  background-color: rgba(238, 238, 238, 0.26);
}

.main-img {
  width: 100%;
  height: auto;
}

.main-span__python {
  color: rgba(0, 0, 0, 0.473);
}

.footer-about {
  margin-bottom: 50px;
}