@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
}

.header {
  margin-bottom: 50px;
}

.header-blog {
  color: black;
}

.header-blog:hover {
  color: black;
}

.header-title {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

.list-navigation {
  margin-left: auto;
}

.list-navigation {
  display: block;
}

.site-nav {
  margin-left: 15px;
}

.site-nav__item {
  color: rgb(44, 44, 43);
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
  transition: all 0.5s ease;
}

.site-nav__item:hover {
  color: rgb(24, 92, 218);
  border-bottom: 3px solid rgb(0, 0, 0);
}

/* hero */

.hero::before {
  display: block;
  content: '';
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-image: url("../img/diyor.jpg");
  background-size: cover;
  border-radius: 50%;
}

.hero-contant {
  margin-left: 50px;
}

.her-nav__icon {
  fill: rgb(0, 0, 0);
}

.hero-text {
  color: #9c9c9c;
}

.instagram {
  margin-left: 15px;
}

.instagram-icon {
  fill: #000000b6;
}

.github {
  margin-left: 15px;
}

.github-icon {
  fill: rgb(0, 0, 0);
}

.twitter {
  margin-left: 15px;
}

.twitter-icon {
  fill: rgb(0, 0, 0);
}

.about-blog {
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px 9px;
  border-radius: 10px;
  color: black;
  transition: all 0.5s ease;
  margin-top: 30px;
}

.about-blog:hover {
  color: #fff;
  background-color: black;
  border: 2px solid black;
}

.about-me {
  margin-left: 15px;
}

.about-text {
  max-width: 100%;
  width: 45%;
}

.feature {
  margin-left: 100px;
  margin-top: 100px;
}

.footer {
  margin-bottom: 100px;
}

.button-togler {
  display: none;
}


@media only screen and (max-width: 450px) {

  .feature {
    margin-left: 15px;
    margin-top: 100px;
  }

  .list-navigation {
    display: none;
  }

  .header-open .list-navigation {
    display: block;
  }

  .button-togler {
    display: block;
    margin-left: auto;
  }

  .button-togler {
    width: 24px;
    height: 15px;
    background-color: transparent;
    border: none;
    background-image: url('../img/hamburger.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .header-open .button-togler {
    margin-left: 117px;
    background-image: url('../img/close.svg');
  }

  .site-nav {
    margin-left: 0;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .blog {
    margin-top: 8px;
  }

  .channel {
    margin-top: 8px;
  }

  .site-nav__item {
    border-bottom: none;
    text-align: center;
    color: #fff;
  }

  .site-nav__list {
    position: absolute;
    z-index: 1;
    overflow: auto;
    top: calc(50% - 280px);
    right: 13px;
    display: none;
    background-color: rgb(51, 51, 51);
  }

  .site-nav__item:hover {
    display: none;
  }
}